<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tokens</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        #Tokens{
            margin-right: 50%;
        }

        .rounded-rectangle{
            width: 100%;
            height: 300px;
            background-color: #fff9f9;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #charset{
            margin-left: 0%;
        }

        #Search{
            
        }
    </style>
</head>
<body>
    <nav class="navbar bg-body-" style="background-color: rgb(255, 255, 122);">
        <div class="container-fluid">
          <span class="navbar-text">
            Templates for django
          </span>
          <a id="Tokens" class="nav-link" href="#"><b>Tokens</b></a>
        </div>
    </nav>
      <div class="rounded-rectangle">
        <p id="charset">Hello, I created this project so that we can work with Django and HTML first, and in order to be able to use it, I created crypto tokens for you inside these projects. If you enjoy this project, my YouTube channel, the address of which I put on the top of the page. You can use channel videos.</p>
      </div>
</html>